NEXT_PUBLIC_SITE_URL=https://safna.co.uk
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_ADMIN_EMAIL=ebou@eazykitchen.co.uk
CHECKOUT_PROVIDER=stripe
CHECKOUT_URL=
CONTACT_DELIVERY_EMAIL=ebou@eazykitchen.co.uk
